@font-face {
    font-family: 'Termina';
    src: url('/assets/font/terminaf/termina-demi.eot');
    src: local('Termina Demi'), local('Termina-Demi'),
        url('/assets/font/terminaf/termina-demi.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/terminaf/termina-demi.woff2') format('woff2'),
        url('/assets/font/terminaf/termina-demi.woff') format('woff'),
        url('/assets/font/terminaf/termina-demi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboBold.eot');
    src: local('Heebo Bold'), local('Heebo-Bold'),
        url('/assets/font/heebo/HeeboBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboBold.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboBold.woff') format('woff'),
        url('/assets/font/heebo/HeeboBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboRegular.eot');
    src: local('Heebo-Regular'),
        url('/assets/font/heebo/HeeboRegular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboRegular.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboRegular.woff') format('woff'),
        url('/assets/font/heebo/HeeboRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboLight.eot');
    src: local('Heebo-Light'),
        url('/assets/font/heebo/HeeboLight.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboLight.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboLight.woff') format('woff'),
        url('/assets/font/heebo/HeeboLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboMedium.eot');
    src: local('Heebo-Medium'),
        url('/assets/font/heebo/HeeboMedium.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboMedium.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboMedium.woff') format('woff'),
        url('/assets/font/heebo/HeeboMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboBlack.eot');
    src: local('Heebo-Black'),
        url('/assets/font/heebo/HeeboBlack.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboBlack.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboBlack.woff') format('woff'),
        url('/assets/font/heebo/HeeboBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboExtraBold.eot');
    src: local('Heebo-ExtraBold'),
        url('/assets/font/heebo/HeeboExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboExtraBold.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboExtraBold.woff') format('woff'),
        url('/assets/font/heebo/HeeboExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/assets/font/heebo/HeeboThin.eot');
    src: local('Heebo-Thin'),
        url('/assets/font/heebo/HeeboThin.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/heebo/HeeboThin.woff2') format('woff2'),
        url('/assets/font/heebo/HeeboThin.woff') format('woff'),
        url('/assets/font/heebo/HeeboThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-Medium.eot');
    src: local('Gordita Medium'), local('Gordita-Medium'),
        url('/assets/font/gordita/Gordita-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-Medium.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-Medium.woff') format('woff'),
        url('/assets/font/gordita/Gordita-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-Light.eot');
    src: local('Gordita Light'), local('Gordita-Light'),
        url('/assets/font/gordita/Gordita-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-Light.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-Light.woff') format('woff'),
        url('/assets/font/gordita/Gordita-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-Bold.eot');
    src: local('Gordita Bold'), local('Gordita-Bold'),
        url('/assets/font/gordita/Gordita-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-Bold.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-Bold.woff') format('woff'),
        url('/assets/font/gordita/Gordita-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-MediumItalic.eot');
    src: local('Gordita Medium Italic'), local('Gordita-MediumItalic'),
        url('/assets/font/gordita/Gordita-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-MediumItalic.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-MediumItalic.woff') format('woff'),
        url('/assets/font/gordita/Gordita-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-BoldItalic.eot');
    src: local('Gordita Bold Italic'), local('Gordita-BoldItalic'),
        url('/assets/font/gordita/Gordita-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-BoldItalic.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-BoldItalic.woff') format('woff'),
        url('/assets/font/gordita/Gordita-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-Italic.eot');
    src: local('Gordita Italic'), local('Gordita-Italic'),
        url('/assets/font/gordita/Gordita-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-Italic.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-Italic.woff') format('woff'),
        url('/assets/font/gordita/Gordita-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-Regular.eot');
    src: local('Gordita Regular'), local('Gordita-Regular'),
        url('/assets/font/gordita/Gordita-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-Regular.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-Regular.woff') format('woff'),
        url('/assets/font/gordita/Gordita-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-BlackItalic.eot');
    src: local('Gordita Black Italic'), local('Gordita-BlackItalic'),
        url('/assets/font/gordita/Gordita-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-BlackItalic.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-BlackItalic.woff') format('woff'),
        url('/assets/font/gordita/Gordita-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-Black.eot');
    src: local('Gordita Black'), local('Gordita-Black'),
        url('/assets/font/gordita/Gordita-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-Black.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-Black.woff') format('woff'),
        url('/assets/font/gordita/Gordita-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/font/gordita/Gordita-LightItalic.eot');
    src: local('Gordita Light Italic'), local('Gordita-LightItalic'),
        url('/assets/font/gordita/Gordita-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/gordita/Gordita-LightItalic.woff2') format('woff2'),
        url('/assets/font/gordita/Gordita-LightItalic.woff') format('woff'),
        url('/assets/font/gordita/Gordita-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
  font-family:ui-icon-pack;
  src:  url('/assets/font/ui-icon-pack-normal/f.eot');
  src: url('/assets/font/ui-icon-pack-normal/f.woff2') format('woff2'),
	url('/assets/font/ui-icon-pack-normal/f.woff') format('woff'),
	url('/assets/font/ui-icon-pack-normal/f.ttf') format('truetype'),
	url('/assets/font/ui-icon-pack-normal/f.eot') format('embedded-opentype'),
    url('/assets/font/ui-icon-pack-normal/f.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.i-ui {
  font-family:ui-icon-pack !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}